<table class="w-full">
  <tr>
    <td class="pb-[6px] align-center-table">
      <x-image class="w-[600px]" imgUrl="image-1.png" href="#" />
    </td>
  </tr>
  <tr>
    <td class="px-base pt-[24px] text-md text-primary"  style="color: #146959;font-weight: bold;font-size: 24px;line-height: 28px;  text-align: center;">
      Excepteur sint occaecat cupidatat non proident
    </td>
  </tr>
  <tr>
    <td class="text-md text-primary leading-[16px] px-base pt-[24px]" style="text-align: center;  padding: 20px 25px;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="font-size:0px;padding:0;word-break:break-word;">
      <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%;width:50%;">
        <tr>
          <td align="center" bgcolor="#f1e6ed" role="presentation" style="border:none;border-radius:30px;cursor:auto; background:#146959;" valign="middle">
<a href="#" style="display:inline-block;background:#146959;color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:normal;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:12px 2px; border-radius:10px;display:block" target="_blank">
              <span style="font-size: 20px;"><b>Ut enim ad minim veniam</span>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
