<table class="w-full">
  <tr>
    <td class="px-base pt-[24px] text-md text-primary"  style="color: #146959;font-weight: bold;font-size: 22px;line-height: 26px;  text-align: center;">
      sint cupidatat  occaecat ut
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td align="left" class="align-center-table" valign="top" style="font-family: Arial, sans-serif;padding: 15px 25px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td class="w-[245px]  sm:w-full sm:inline-block py-[15px] px-[15px]">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" >
                    <tr>
                      <td align="left" valign="top" class="py-[15px] px-[15px]" style="font-family: Arial, sans-serif;background-color: #f2f2f2;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td class="px-base pt-base pb[6px] align-center-table">
                              <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
                            </td>
                            
                          </tr>
                          <tr>
                            <td class="text-md text-primary leading-[16px] px-base pt-[24px]" style="color: #146959;font-weight: bold;font-size: 20px;line-height: 24px;  text-align: center;">Nisi ut ade</td>
                          </tr>
                          <tr>
                            <td class="text-md text-primary leading-[16px] px-base pt-[24px]" style="text-align: center; padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<span class="text-[9px] [line-height:0] [vertical-align:6px]">1</span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
                
                <td class="w-[245px]  sm:w-full sm:inline-block py-[15px] px-[15px]">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                    <tr>
                      <td align="left" class="py-[15px] px-[15px]" valign="top" style="font-family: Arial, sans-serif; background-color: #f2f2f2;">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                          <tr>
                            <td class="px-base pt-base pb[6px] align-center-table">
                              <x-image class="w-[100px]" imgUrl="image-2.png" href="#" />
                            </td>
                            
                          </tr>
                          <tr>
                            <td class="text-md text-primary leading-[16px] px-base pt-[24px]" style="color: #146959;font-weight: bold;font-size: 20px;line-height: 24px;  text-align: center;">Duis aute irure</td>
                          </tr>
                          <tr>
                            <td class="text-md text-primary leading-[16px] px-base pt-[24px]" style="text-align: center; padding-left: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<span class="text-[9px] [line-height:0] [vertical-align:6px]">2</span></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <table>
    </td>
   </tr>
</table>
</table>
